
ion-content {
  --ion-background-color: #fff; /* Define un fondo claro para el contenido */
  --padding-top: 2rem; /* Añade algo de espacio en la parte superior dentro del contenido */
  --padding-bottom: 2rem; /* Espacio en la parte inferior para no solapar el contenido con el botón flotante */
}

/* Ajustes Responsivos para Formularios y Botones */
ion-list {
  padding-left: 1rem; /* Espaciado al inicio de la lista para evitar que se pegue al borde */
  padding-right: 1rem; /* Espaciado al final de la lista */
}

ion-item {
  --padding-start: 0; /* Reduce o elimina el relleno inicial si es necesario */
  --min-height: 50px; /* Altura mínima para facilitar la interacción táctil */
}

.btn {
  margin: 20px auto; /* Centra el botón en el formulario y añade margen superior e inferior */
  padding: 10px 20px; /* Añade relleno dentro del botón para hacerlo más accesible */
  max-width: 200px; /* Ancho máximo del botón para mantener la consistencia */
}


/* Media Queries para diferentes tamaños de pantalla */
@media (min-width: 768px) {
  .btn {
    max-width: 400px; /* Permite que el botón sea más ancho en tabletas y pantallas más grandes */
  }
}
