.mis-tarjetas {
    height: 350px; /* Tamaño de altura fijo */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
    /* Otros estilos según sea necesario */
  }

  ion-fab {
    margin-bottom: 20px;
  }