<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/clientes"
        color="secondary">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Perfil Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <h1>Datos Cliente:</h1>

  <div class="perfil">
    <ion-avatar style="margin: 0 auto; width: 100px; height: 100px;">
      <img [src]="productor?.imageUrl" />
    </ion-avatar>
</div>

<div class="listaPerfil">

  <ion-list lines="inset">
    <ion-item>
      <ion-label>Nombre: {{ productor?.nombre }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellido Paterno: {{ productor?.apellido_p }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellido Materno: {{ productor?.apellido_m }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Teléfono: {{ productor?.telefono}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Correo: {{ productor?.email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña: {{ productor?.password}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Localidad: {{ productor?.localidad }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Estado: {{ productor?.estado }}</ion-label>
    </ion-item>
  </ion-list>

</div>

  <div class="btn">
    <ion-button expand="block" style="max-width: 220px; margin: 0 auto;" color="primary" [routerLink]="['/ventas']">Historial Ventas</ion-button>
  </div>

  <div class="btn">
    <ion-button expand="block" style="max-width: 220px; margin: 0 auto;" color="primary" [routerLink]="['/adeudos']">Adeudos</ion-button>
  </div>

</ion-content>