<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button slot="start"></ion-menu-button>
      <ion-icon slot="start" name="search" (click)="toggleSearchBar()"></ion-icon>
      <ion-searchbar *ngIf="showSearchBar" (ionChange)="filterSucursales($event)" placeholder="Buscar por nombre de sucursal"></ion-searchbar>
    </ion-buttons>
    <ion-title>Sucursales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/agregar-sucursal']" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let sucursal of sucursales$ | async" (click)="presentActionSheet(sucursal)">
    <img [src]="sucursal.imageUrl"/>
    <ion-card-header>
      <ion-card-title>{{ sucursal.nombre_sucursal }}</ion-card-title>
      <ion-card-subtitle>Tipo Sucursal: {{ sucursal.tipo_sucursal }}</ion-card-subtitle>
      <ion-card-subtitle>Localidad: {{ sucursal.localidad }}</ion-card-subtitle>
      <ion-card-subtitle>Colonia: {{ sucursal.colonia }}</ion-card-subtitle>
      <ion-card-subtitle>Codigo Postal: {{ sucursal.codigo_postal }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>


