<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Sucursales</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/agregar-sucursal']" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let sucursal of sucursales$ | async" (click)="presentActionSheet()">
    <img [src]="sucursal.imageUrl"/>
    <ion-card-header>
      <ion-card-title>{{ sucursal.nombre_sucursal }}</ion-card-title>
      <ion-card-subtitle>{{ sucursal.tipo_sucursal }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ sucursal.localidad }}
    </ion-card-content>
  </ion-card>
</ion-content>


