<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Mi Perfil</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <h1>Mis Datos:</h1>

  <div class="perfil">
      <ion-avatar style="margin: 0 auto; width: 100px; height: 100px;">
          <img src="../../../assets/resources/perfil.jpeg" />
       </ion-avatar>
  </div>

  <div class="listaPerfil">

    <ion-list lines="inset">
      <ion-item>
        <ion-label>Nombre: Luis Angel</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Apellido Paterno: Altamirano</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Apellido Materno: Gonzalez</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teléfono: 2711045217</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Correo Acceso: luis.altamirano@progomex.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Departamento: Almácen MD</ion-label>
      </ion-item>
    </ion-list>

  </div>

  <div class="btn">
      <ion-button expand="block" style="max-width: 200px; margin: 0 auto;"
                  color="secondary" [routerLink]="['/cambiar-datos']">Actualizar Datos</ion-button>
  </div>

</ion-content>

