/* Style for the card title in the prediction card */
.card-title-prediction {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Style for the predicted value */
.prediction-value {
    font-size: 1.0em; /* Adjust the font size as necessary */
    font-weight: bold;
}

/* Additional global styles if needed */
ion-content {
    text-align: center; /* Centers text for all elements in ion-content */
}

/* You can add responsiveness with media queries if needed */
@media (min-width: 768px) {
    .prediction-value {
        font-size: 1.2em; /* Larger font size for larger screens */
    }
}
