.ion-padding{
    
    text-align: center;
    align-items: center;
    margin-top: 35px;

}

.Acordeon{
    
    align-items: center;
    align-self: center;
    align-content: center;
    margin:0 auto;
    margin-bottom: auto;

}

.boton{

    text-align: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;

}

.Cartas{

    text-align: center;
    align-items: center;
    margin-top: 15px;

}

h1{

    text-align: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;

}

.Carta{

    align-items: center;
    align-self: center;
    align-content: center;
    margin:0 auto;

}

.Ejemplo{

    text-align: center;
    align-items: center;
    margin-top: 35px;

}

.Chequer{

    text-align: center;
    align-items: center;
    margin-top: 15px;
    list-style-type: armenian;

}

h3{

    text-align: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;

}

.imagenPato{

    align-items: center;
    align-self: center;
    align-content: center;
    margin:0 auto;

}