/* Usa variables en lugar de tamaños fijos donde sea posible */
:root {
    --ion-margin: 8px;
    --ion-padding: 8px;
    --ion-grid-margin: 40px;
    --ion-image-size: 100px; /* Tamaño por defecto para las imágenes */
  }
  
  .ion-padding {
      padding: var(--ion-padding);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  /* Ajustes para que los botones siempre se adapten al contenedor */
  ion-button {
      max-width: 90%; /* Ajuste para que el botón no sea demasiado grande en pantallas grandes */
      margin: var(--ion-margin) auto; /* Centrado con auto y una variable para el margen */
  }
  
  /* Ajustes de imágenes para que sean responsivas */
  ion-img {
    width: var(--ion-image-size); /* Uso de una variable para el tamaño */
    height: var(--ion-image-size); /* Uso de una variable para el tamaño */
    margin: var(--ion-margin) auto; /* Margen definido por una variable y auto centrado */
  }
  
  /* Utiliza media queries para diferentes tamaños de pantalla */
  @media (min-width: 768px) {
    :root {
      --ion-margin: 15px;
      --ion-padding: 15px;
      --ion-grid-margin: 60px;
      --ion-image-size: 150px; /* Imágenes más grandes en pantallas más grandes */
    }
  }
  
  /* Otros ajustes específicos del componente pueden ir aquí */
  