<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/perfil"
        color="secondary">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar Mis Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <h1>Actualización Datos:</h1>

  <div class="datosCambio">

    <ion-list>

      <ion-item>
        <ion-label position="stacked">Nombre:</ion-label>
        <ion-input [(ngModel)]="nombre" [counter]="true" 
                   maxlength="45" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido Paterno:</ion-label>
        <ion-input [(ngModel)]="apellido_p" [counter]="true"
                   maxlength="45" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido Materno:</ion-label>
        <ion-input [(ngModel)]="apellido_m" [counter]="true"
                   maxlength="45" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Teléfono:</ion-label>
        <ion-input [(ngModel)]="telefono" [counter]="true" 
                   (keypress)="numericOnly($event)"
                   maxlength="10" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo:</ion-label>
        <ion-input [(ngModel)]="correo" [counter]="true"
                   maxlength="50" required readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Sucursal:</ion-label>
        <ion-input [(ngModel)]="sucursal" [counter]="true"
                   maxlength="50" required readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Departamento:</ion-label>
        <ion-input [(ngModel)]="departamento" [counter]="true"
                   maxlength="50" required readonly></ion-input>
      </ion-item>

    </ion-list>

    <div class="btn">
      <ion-button expand="block" style="max-width: 200px; margin: 0 auto;" 
                  color="secondary" (click)="datosCambiados()">Actualizar</ion-button>
    </div>

  </div>

</ion-content>


