
h1{

    text-align: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;

}

.datosCambio{

    text-align: center;
    align-items: center;

}

h3{

    text-align: center;
    align-items: center;
    margin-top: 15px;

}

.btn{

    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    text-align: center;
    //color: #6AA84F;

  }

  .toast-custom {
    background-color: #333;
    color: #fff;
    font-size: 26px;
    border-radius: 10px;
    padding: 16px;
  }