/* Style for the venta details view */
.listaPerfil {
    padding: 0 5%; /* Responsive padding */
  }
  
  /* Style for the section title */
  .section-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style for the download button */
  .download-button {
    max-width: 200px; /* Max width of the button */
    width: 100%; /* Make the button width responsive */
    margin: 0 auto; /* Center the button horizontally */
    margin-top: 15px; /* Margin on top for spacing */
  }
  