<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/clientes"
        color="secondary">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <h1>Agregar Datos Cliente</h1>

    <form [formGroup]="empleadoForm">

      <ion-list>
  
          <ion-item>
          <img [src]="imagePreview" 
               alt="Click para seleccionar una imagen" 
               (click)="fileInput.click()"
               style="width: 95px; height: 95px; cursor: pointer; margin: 0 auto; margin-bottom: 15px;">
          <input type="file" #fileInput (change)="oonImageSelected($event)" style="display: none;">
          </ion-item>
  
          <ion-item>
            <ion-input formControlName="nombre" label="Nombre:" 
              maxlength="45" required></ion-input>
          </ion-item>

          <ion-item *ngIf="empleadoForm.get('nombre')?.invalid && (empleadoForm.get('nombre')?.dirty || empleadoForm.get('nombre')?.touched)">
            <ion-label color="danger" position="stacked">Por favor, introduce un nombre válido</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-input formControlName="apellido_p" label="Apellido Paterno:" 
              maxlength="45" required></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-input formControlName="apellido_m" label="Apellido Materno:" 
              maxlength="45" required></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-input formControlName="telefono" label="Teléfono:" 
              onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
              maxlength="10" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="localidad" label="Localidad:" 
              maxlength="70" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="estado" label="Estado:" 
              maxlength="70" required></ion-input>
          </ion-item>
    
          <div class="btn">
            <ion-button style="max-width: 200px; margin: 0 auto;" [disabled]="empleadoForm.invalid"
                        color="primary" (click)="registerProductor()">Registrar Cliente</ion-button>
          </div>
  
      </ion-list>
  
    </form>

</ion-content>