.live {

    text-align: center;
    font-size: x-large;
    font-style: normal;
    align-self: center;
    padding: 10px 20px 10px 20px;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

ion-fab {
    margin-bottom: 20px;
  }