
.btn{

    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    text-align: center;
    //color: #6AA84F;

  }

  .toast-custom {
    background-color: #333;
    color: #fff;
    font-size: 26px;
    border-radius: 10px;
    padding: 16px;
  }