<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/empleados" color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar Empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <h1>Actualización Datos Empleado</h1>
  <div class="datosCambio">
    <ion-list>
      
      <ion-item>
        <ion-label position="stacked">Nombre:</ion-label>
        <ion-input [(ngModel)]="nombre" maxlength="45" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido Paterno:</ion-label>
        <ion-input [(ngModel)]="apellido_p" maxlength="45" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Apellido Materno:</ion-label>
        <ion-input [(ngModel)]="apellido_m" maxlength="45" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Teléfono:</ion-label>
        <ion-input [(ngModel)]="telefono" maxlength="10" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Sucursal:</ion-label>
        <ion-select [(ngModel)]="sucursal" placeholder="Seleccionar Sucursal">
          <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.nombre_sucursal">
            {{ sucursal.nombre_sucursal }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Departamento:</ion-label>
        <ion-select [(ngModel)]="departamento" placeholder="Seleccionar Departamento">
          <ion-select-option *ngFor="let departamento of departamentosFiltrados" [value]="departamento.nombre">
            {{ departamento.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      
    </ion-list>
    <ion-button expand="block" style="max-width: 200px; margin: 20px auto;" color="primary" 
                (click)="guardarCambios()">Actualizar</ion-button>
  </div>
</ion-content>
