<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/empleados"
        color="secondary">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar Empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <h1>Actualización Datos Empleado</h1>

  <div class="datosCambio">

    <ion-list>
      <ion-list>
        
        <ion-item>
          <ion-input [(ngModel)]="nombre" label="Nombre:" [counter]="true"
            maxlength="45" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="apellido_p" label="Apellido Paterno:" [counter]="true"
            maxlength="45" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="apellido_m" label="Apellido Materno:" [counter]="true"
            maxlength="45" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="telefono" label="Teléfono:" [counter]="true" 
            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
            maxlength="10" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Sucursal:</ion-label>
          <ion-select [(ngModel)]="sucursal" (ionChange)="filtrarDepartamentos()" placeholder="Seleccionar Sucursal">
            <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.nombre_sucursal">
              {{ sucursal.nombre_sucursal }}
            </ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item>
          <ion-label>Departamento:</ion-label>
          <ion-select [(ngModel)]="departamento" placeholder="Seleccionar Departamento">
            <ion-select-option *ngFor="let departamento of departamentosFiltrados" [value]="departamento.nombre">
              {{ departamento.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>


      </ion-list>
    </ion-list>

    <ion-button expand="block" style="max-width: 200px; margin: 0 auto;" 
            color="secondary" (click)="guardarCambios()">Actualizar</ion-button>

</div>

</ion-content>
