/* Global styles for alignment */
ion-content {
    text-align: center; /* Centers text globally for ion-content */
}

/* Specific style for the chart container to replace inline style */
.chart-container {
    display: block;
    margin: 0 auto; /* Centers the chart */
}

/* Style for FAB positioned at the bottom right */
ion-fab {
    margin-bottom: 20px; /* Adds margin at the bottom of the FAB */
}

/* Style headings */
h1, h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Remove unused CSS classes if they are not being utilized elsewhere in your project */
